.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.layout__info {
    width: 65%;
    height: 100vh;
}

.layout__opcion {
    width: 35%;
    height: 100vh;
    padding: 2% 20px;
    background-color: #dadada;
}


.layout__opcion .layout__titulo {
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin-bottom: 5px;
}

.layout__opcion .layout__texto {
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
}
.contenedor_lista_tickets {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-height: 550px; 
    overflow-y: auto;  
}
.div_ticket {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
}

.div_ticket p {
    margin-top: 10px;
}