.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.layout__info {
    width: 65%;
    height: 100vh;
}


.layout__opcion {
    width: 35%;
    height: 100vh;
    padding: 15% 20px;
    background-color: #dadada;
}

.layout__opcion .layout__titulo {
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
}

.layout__opcion .layout__texto {
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
}

.layout__opciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.opciones__boton {
    width: 50%;
    height: 120px;
    background-color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.opciones__boton:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.opciones__boton p {
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.opciones__boton span {
    font-size: 30px;
    color: var(--colorRojo);
}