
.button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}

.button:hover {
    transform: translateY(-1px);
    filter: brightness(1.05);
}

.button:active {
    transform: translateY(0);
}


.button:disabled {
    opacity: .6;
    cursor: not-allowed;
}


.primary {
    background-color: #9e9e9e;
    margin-top: 15px;
}


.danger {
    background-color: var(--colorRojo);
}


.spinner__container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.spinner {
    display:flex;
    gap:6px;
}

.spinner div{
    width:8px;
    height:8px;
    border-radius:50%;
    background:white;
    animation:bounce 1.4s infinite ease-in-out;
}

.spinner div:nth-child(2){
    animation-delay:.2s;
}

.spinner div:nth-child(3){
    animation-delay:.4s;
}

@keyframes bounce{
    0%,80%,100%{
        transform:scale(0);
    }
    40%{
        transform:scale(1);
    }
}
