* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --colorRojo: #e31c1b;
  --colorNaranja: #e38015;
  --colorAmarillo: #ecc85d;
  --colorVerde: #009d1f;
  --colorBlanco: #f8efed;

}

.Layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.texto__mesaje {
  color: var(--colorVerde);
  font-size: 20px;
  margin: 10px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}