.imagenInicio__info {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12%;
}

.imagenInicio__image_border {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}