.div__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.div__label {
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.div__input input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #d8dce3;
    font-size: 15px;
    outline: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.div__input__error {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    color: var(--colorRojo);

}